RData
.Ruserdata
.Rproj.user
.Rhistory
*_cache
*_files
_main.rds
.Rdata
.Rapp.history
.httr-oauth
.DS_Store
rascunhos.R
AgeDataset-V1.csv
*.rmarkdown
*.key
*.docx
/.quarto/
_site
*.md
/*.html
search_index.json
libs
*.rds
_main.*
tmp-pdfcrop-*
figures
site_libs
_publish.yml
materiais_do_curso/
pesquisa-quanti-psi-ufc.Rproj
process.R
teste_jasp.csv
